<p-messages></p-messages>

<h1 style="font-size: xx-large; color:#00679a;">
  Dashboard
</h1>

<app-appsearch></app-appsearch>

<h2>Latest Applications</h2>


<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile *ngFor="let app of applications">
    <div class="instance-card" routerLink="/apps/detail/{{ app.id }}">
      
      <div class="module app">
        <div class="app-data">
          <p>{{ app.name }}</p>
          <p>Owner: {{app.owner}}</p>
          <p>{{app.created |  date:'MM/dd/yy HH:mm:ss'}}</p>
        </div>
        <div  *ngIf="app.is_new" class="is-new-star">
          <mat-icon 
           
            aria-hidden="false" 
            style="color: #ffd401; font-size: xx-large;"
            >
            star
          </mat-icon>
          <p style="color: #ffd401; font-size: large;">NEW</p>
        </div>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<h2>Latests instances</h2>

<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile *ngFor="let instance of instances">
    <div class="instance-card" routerLink="/instances/detail/{{ instance.id }}">
      <h2><b>Name:</b> {{instance.name}}</h2>
      <h3><b>App:</b> {{instance.app_name}}</h3>
    </div>
  </mat-grid-tile>
</mat-grid-list>
