table {
  width: 90%;
  margin: auto;
}

th {
  color: #495057;
  background-color: #e1e1e1;
}

th, td {
  padding: 0.3em;
}

tr {
  border-bottom: 1px silver solid;
  
}

input {
  width: 90%;
  margin-left: 10%;
  margin-bottom: 1em;
}

