<h2>My Applications</h2>
<ul class="applications">
  <li *ngFor="let application of applications">
    <a
      routerLink="/app/detail/{{ application.id }}"
      routerLinkActive="router-link-active"
    >
      <span class="badge">{{ application.id }}</span> {{ application.name }}
    </a>
    <button class="delete" title="delete app" (click)="delete(application)">x</button>
  </li>
</ul>

<h3>Add a new one</h3>
<div>
  <form [formGroup]="addForm" (ngSubmit)="add()">
    <div class="form-group">
      <label>Name</label>
      <input class="form-control" formControlName="name" placeholder="Name" />
      <div class="invalid-feedback" style="display: block">
        <ng-container *ngIf="hasError('name', 'required')">This field is required</ng-container>
      </div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <input class="form-control" formControlName="description" placeholder="Description"/>
      <div class="invalid-feedback" style="display: block">
        <ng-container *ngIf="hasError('description', 'required')">This field is required</ng-container>
      </div>
    </div>

    <div class="form-group">
      <!--<app-util-file-upload formControlName="blueprint" [progress]="progress"></app-util-file-upload>-->
      <app-util-file-upload formControlName="blueprint"></app-util-file-upload>
      <div class="invalid-feedback" style="display: block">
        <ng-container *ngIf="hasError('blueprint', 'required')">This field is required</ng-container>
        <ng-container *ngIf="hasError('blueprint', 'requiredFileType')">Only ZIP</ng-container>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
