<div *ngIf="application">
  <h2>{{ application.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ application.id }}</div>
  <div>
    <label
      >name:
      <input [(ngModel)]="application.name" placeholder="name" />
    </label>
  </div>
  <div>
    <label
      >description:
      <input [(ngModel)]="application.description" placeholder="description" />
    </label>
  </div>
</div>

<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>

<app-instance-list [application]="application"></app-instance-list>
