<h2 class="title">My Instances</h2>
<div>

  <!--
        BUSCADOR ¿?
    <label>Instance name:
        <input #appName />
      </label>
  -->
  
  <!-- (click) passes input value to add() and then clears the input -->
  <!--<button (click)="add(appName.value); appName.value = ''">add</button>-->
 <!-- <button (click)="add(); appName.value = ''">add</button> -->
</div>

<mat-grid-list cols="3" rowHeight="3:1">
  <mat-grid-tile *ngFor="let instance of instances">
    <div class="app-card" (click)="open(instance)">
      <div class="ins-name">
        <p class="ins-name">{{instance.id}} - {{instance.name}}</p>
      </div>
      <div class="ins-delete-btn">
        <button class="close-btn">
          <mat-icon aria-hidden="false" aria-label="Example home icon">clear</mat-icon>
        </button>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
