ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

button {
    outline: none;
    transition: all ease .35s;
}

button:hover, button:focus {
    transform: scale(1.2);
}

mat-toolbar {
  background-color: #00679a;
  color: white;
}