ul {
    margin-bottom: 0;
}

ul li {
    list-style: none;
}

.toolbar-btn {
    outline: none;
    transition: all ease .35s;
}

.toolbar-btn:hover, .toolbar-btn:focus {
    transform: scale(1.2);
}
.title-btn:hover, .title-btn:focus {
  transform: scale(1) !important;
}

mat-toolbar {
  background-color: #00679a;
  color: white;
}

::ng-deep .mat-menu-panel {
  overflow: hidden !important;
  width: 15em;
}