<div id="search-component" class="search-component">

  <div style="width: 30%; ">
    <h4><label for="search-box" class="search-label">Application Search</label></h4>
  </div>

  <div style="width: 70%;">
    <input #searchBox id="search-box" (input)="search(searchBox.value)" class="search-input" />

    <ul class="search-result">
      <li *ngFor="let application of applications$ | async">
        <a routerLink="/apps/detail/{{ application.id }}">
          {{ application.name }} - {{application.owner}}
        </a>
      </li>
    </ul>
  </div>
  
</div>
