/* AppSearch private styles */
.search-result li {
  border-bottom: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  width: 30em;
  height: 2em;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #325668;
}

.search-result li a {
  color: #325668;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}
#search-box {
  width: 30em;
  height: 2em;
  border-radius: 3px;
  border: 1px #cdcdcd solid;
}


ul.search-result {
  margin-top: 0;
  padding-left: 0;
}

.search-component {
  display: inline-flex;
}

.search-label {
  margin: 1em;
}

.search-input {
  margin-top: 1em;
}
