<div *ngIf="instance">
  <h2>{{ instance.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ instance.id }}</div>
  <div>
    <label
      >name:
      <input [(ngModel)]="instance.name" placeholder="name" />
    </label>
  </div>
  <div>
    <label
      >description:
      <input [(ngModel)]="instance.description" placeholder="description" />
    </label>
  </div>
  <div>
    <p>{{ instance.lastExecution }}</p>
  </div>
</div>

<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>
