html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 15px;
  color: darkblue;
  height: 37px;
}

ngx-monaco-editor {
  height: calc(100% - 100px);
  width: 100%;
  padding: 15px;
}

.editor-container {
  height: 40em;
  overflow: hidden;
  border: 2px #cdcdcd solid;
  border-radius: 10px;
}