<h2 class="title-section">Edit the file <span style="color: #00679a;">{{fileTitle}}</span></h2>

<h3 *ngIf="!fileContent">
  <b>Atention:</b> No file uploaded, please upload a file to see the content.
</h3>
<h3>
  Editor theme: 
  <p-toggleButton 
    offLabel="I reject" 
    onIcon="pi pi-moon" 
    offIcon="pi pi-sun"
    (onChange)="changeTheme($event)">
  </p-toggleButton>
</h3>

<div class="editor-container">

  <ngx-monaco-editor 
    class="textEditorContainer" 
    [options]="editorOptions" 
    [(ngModel)]="fileContent" 
    (init)="editorInit($event)"
    (ngModelChange)="emitStatus('2'); disabled=false">
  </ngx-monaco-editor>
</div>

<p-button icon="pi pi-save" (click)="emitText()" label="Save changes"></p-button>
