<p-toast position="bottom-right" key="bc"></p-toast>
<div *ngIf="application">
  <div class="title-cont">
    <button (click)="goBack()" pButton pRipple type="button" icon="pi pi-chevron-left" class="p-button-rounded p-button-outlined"></button>
    <h2 class="title">{{ application.name | uppercase }} Details</h2>
  </div>
  
  <div class="app-summary">
    <h2 class="title-section">Summary</h2>
    <div class="data-cont">
      <div class="data-label">
        <b>ID:</b>
      </div>
      <div class="data-result">
        {{ application.id }}
      </div>
    </div>
    <div class="data-cont">
      <div class="data-label">
        <b>Name:</b>
      </div>
      <div class="data-result">
        {{application.name}}
      </div>
    </div>
    <div class="data-cont">
      <div class="data-label">
        <b>Description:</b>
      </div>
      <div class="data-result">
        {{application.description}}
      </div>
    </div>
  </div>
</div>

<app-instancelist [application]="application" [reloadInstList]="reloadInsList"></app-instancelist>

<mat-tab-group>
  <mat-tab label="Basic configuration"> 
    <h2 class="title-section">Parameters:</h2>
    <form [formGroup]="instanceForm">
      <div class="inputs-cont">
        <div class="label-input">
          <label>Name</label>
        </div> 
        <div class="input-input">
          <input class="field-input" type="text" pInputText formControlName="name">
        </div>
      </div>
      <div class="inputs-cont">
        <div class="label-input">
          <label>Description</label>
        </div>
        <div class="input-input">
          <input class="field-input" type="text" pInputText formControlName="description">
        </div>
      </div>
    </form>

    <mat-divider></mat-divider>
    <br>

    <div *ngFor="let input of simpleInputs" >
        <div class="inputs-cont">
          <div class="label-input">
            <label>{{input.name}}</label>
          </div>
          
          <div class="input-input">
            <input  class="field-input" type="text" pInputText [(ngModel)]="input.default">
          </div>
          <div >
            <mat-icon style="color: #7ca6ba; margin-left: 15px;" aria-hidden="false" [matTooltip]="input.description">info</mat-icon>
          </div>
          
        </div>
    </div>
    <button (click)="save($event)" class="save-btn">save</button>
  </mat-tab>
  <mat-tab label="Expert configuration">
    <h2 class="title-section">Parameters:</h2>
    <div >

      <form [formGroup]="instanceForm">
        <div class="inputs-cont">
          <div class="label-input">
            <label>Name</label>
          </div> 
          <div class="input-input">
            <input class="field-input" type="text" pInputText formControlName="name">
          </div>
        </div>
        <div class="inputs-cont">
          <div class="label-input">
            <label>Description</label>
          </div>
          <div class="input-input">
            <input class="field-input" type="text" pInputText formControlName="description">
          </div>
        </div>
      </form>

      <mat-divider></mat-divider>
      <br>
      <div *ngFor="let input of inputs" class="inputs-cont">
          <div *ngIf="isNotIAMInput(input.name)" class="label-input">
            <label>{{input.name}}</label>
          </div>
          <div *ngIf="isNotIAMInput(input.name)" class="input-input">
  
            <input *ngIf="isString(input.default)" class="field-input" type="text" pInputText [(ngModel)]="input.default">
          
            <mat-expansion-panel *ngIf="isObject(input.default)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Open to display the fields of <b> {{input.name}}</b>.
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <button (click)="openVSBrowser()">Search Value Sets</button>
                <div *ngFor="let item of input.default | keyvalue">
                  
                  <div class="object-input" style="width: 100%; background: #e1e1e1;
                  border-radius: 1%;
                  padding: 2%;">
                    <input type="text" [(ngModel)]="item.key">:
                    <div *ngIf="isObject(item.value)" >
                      
                      <div *ngFor="let element of item.value | keyvalue">
                        <p><b>{{element.key}}: </b><input  type="text" [(ngModel)]="element.value"></p> 
                      </div>
                    </div>

                    <div *ngIf="!isObject(item.value)">
                      <input  type="text" [(ngModel)]="item.value">
                    </div>
                  </div>
                  <br>
                  
                </div>
                <br>
                <div class="object-input">
                  <input type="text" #key>:
                  <input type="text" #value>
                </div>
                <button mat-raised-button color="primary" (click)="addField(input.default, key, value)">Save</button>
            </mat-expansion-panel>
  
            <mat-slide-toggle 
               *ngIf="isBoolean(input.default)"
                color="primary"
                [checked]="input.default">
            </mat-slide-toggle>
  
            <p-inputNumber 
                *ngIf="isNumber(input.default)"
                [(ngModel)]="input.default" 
                mode="decimal">
            </p-inputNumber>
          </div>

          <div *ngIf="isNotIAMInput(input.name)" >
            <button 
                type="button" 
                (click)="openParameterEditor(input.name, input.default)" 
                class="rounded-btn" >
              <mat-icon aria-hidden="false" aria-label="Example home icon">edit_note</mat-icon>

            </button>
            <p-dialog [header]="input.name" [(visible)]="input.name === displayD" class="long-text-dialog">
              <app-text-editor 
                (textEdited)="input.default = receiveEditorValue($event)"
                [fileContent]="jsonParsedToYaml"
              >
              </app-text-editor>
            </p-dialog>
            
          </div>
          <div *ngIf="isNotIAMInput(input.name)" >
            <mat-icon style="color: #7ca6ba; margin-left: 15px;" aria-hidden="false" [matTooltip]="input.description">info</mat-icon>
          </div>
        </div>
    </div>
    <button (click)="save(inputs)" class="save-btn" type="submit">Save</button>
  </mat-tab>
  
  <mat-tab label="Upload file"> 
  <!--  <app-instancelist [application]="application"></app-instancelist> -->
  <!--<p> Subir archivo para los inputs </p>
    <input type="file" class="file-upload" (change)="uploadinputs($event)">
     <p>Checkear que hace este componente ...</p>-->
    <app-instance-form 
      [app]="application" 
      (fileInputsJSON)="receiveImputsJSON($event)" 
      (fileInputsText)="receiveImputsText($event)">
    </app-instance-form>
  </mat-tab> 
</mat-tab-group>

<p-dialog header="Value Set Browser" [(visible)]="displayVSB">
  <app-value-set-browser></app-value-set-browser>
</p-dialog>
