<div *ngIf="application">
  <h2 class="title">{{ application.name | uppercase }} Details</h2>
  <div class="app-summary">
    <h2 class="title">Summary</h2>
    <div>
      <label>id: </label> {{ application.id }}
    </div>
    <div>
      <label>name:</label> {{application.name}}
    </div>
    <div>
      <label>description:</label> {{application.description}}
    </div>
  </div>
  
</div>


<app-instancelist [application]="application"></app-instancelist>


<mat-tab-group>
  <mat-tab label="Basic configuration"> 
    <h2>Parameters:</h2>
    <div *ngFor="let input of inputs" >
        <div *ngIf="input.default === ''" class="inputs-cont">
          <div class="label-input">
            <label>{{input.name}}</label>
          </div>
          
          <div class="input-input">
            <input  class="field-input" type="text" pInputText [(ngModel)]="input.default">
            <p *ngIf="!isObject(input.default)">{{input.default}}</p>
          </div>
          <div >
            <mat-icon style="color: #7ca6ba; margin-left: 15px;" aria-hidden="false" [matTooltip]="input.description">info</mat-icon>
          </div>
          
        </div>
    </div>
  </mat-tab>
  <mat-tab label="Expert configuration">
    <h2>Parameters:</h2>
    <div >
        <div *ngFor="let input of inputs" class="inputs-cont">
          <div class="label-input">
            <label>{{input.name}}</label>
          </div>
          <div class="input-input">
  
            <input *ngIf="isString(input.default)" class="field-input" type="text" pInputText [(ngModel)]="input.default">
          
            <mat-expansion-panel *ngIf="isObject(input.default)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Open to display the fields of <b> {{input.name}}</b>.
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let item of input.default | keyvalue">
                  <div class="object-input" style="width: 100%; background: #e1e1e1;
                  border-radius: 1%;
                  padding: 2%;">
                    <input type="text" [(ngModel)]="item.key">:
                    <div *ngIf="isObject(item.value)" >
                      <div *ngFor="let element of item.value | keyvalue">
                        <p><b>{{element.key}}: </b><input  type="text" [(ngModel)]="element.value"></p> 
                      </div>
                    </div>

                    <div *ngIf="!isObject(item.value)">
                      <input  type="text" [(ngModel)]="item.value">
                    </div>
                    
                   
                  </div>
                  <br>
                  
                </div>
                <br>
                <div class="object-input">
                  <input type="text" #key>:
                  <input type="text" #value>
                </div>
                
                <button mat-raised-button color="primary" (click)="addField(input.default, key, value)">Save</button>
            </mat-expansion-panel>
  
            <mat-slide-toggle 
               *ngIf="isBoolean(input.default)"
                color="primary"
                [checked]="input.default">
            </mat-slide-toggle>
  
            <p-inputNumber 
                *ngIf="isNumber(input.default)"
                [(ngModel)]="input.default" 
                mode="decimal">
            </p-inputNumber>
          </div>
          <div>
            <mat-icon style="color: #7ca6ba; margin-left: 15px;" aria-hidden="false" [matTooltip]="input.description">info</mat-icon>
          </div>
          
        </div>
    </div>
  </mat-tab>
  
  <mat-tab label="Upload file"> 
  <!--  <app-instancelist [application]="application"></app-instancelist> -->
  <!--<p> Subir archivo para los inputs </p>
    <input type="file" class="file-upload" (change)="uploadinputs($event)">
     <p>Checkear que hace este componente ...</p>-->
    <app-instance-form [app]="application"></app-instance-form>
  </mat-tab>
</mat-tab-group>

<div>
  
</div>

<button (click)="goBack()">go back</button>
<button (click)="save()">save</button>


