<div class="cookies-body">


  <h1 class="title">COOKIES POLICY</h1>
  <p-button label="Go back" (click)="goBack()" styleClass="p-button-link"></p-button>
  <h2 class="section_title">What is a cookie?</h2>
  <p>HTTP cookies (also called web cookies, Internet cookies, 
    browser cookies, or simply cookies) are small blocks of data 
    created by a web server while a user is browsing a website and placed 
    on the user's computer or other device by the user’s web browser. 
    Cookies are placed on the device used to access a website, 
    and more than one cookie may be placed on a user’s device during a session.  </p>

    <i>Source: <a href="https://en.wikipedia.org/wiki/HTTP_cookie">Wikipedia</a></i>

  <h2 class="section_title">Actual cookies</h2>
  <p>
    AUTH_SESSION_ID
  </p>
  <p>
    KEYCLOAK_SESSION_LEGACY: Keycloack cookies for authentication
  </p>

  <h2 class="section_title">Local Storage</h2>
  <p>
    We use local storage to save some relevant data for the functionality of the web
  </p>
  <h3>Uses of local storage</h3>
  <ul>
    <li>Cookies acceptance.</li>
  </ul>

  <!--
  <h2>Location cookies</h2>
  <p>This platform uses location cookies </p>
  -->

  
</div>