/* InstanceDetailComponent's private CSS styles */
label {
    display: inline-block;
    width: 10em;
    margin: 0.5em 0;
    color: #607d8b;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: 0.4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }


  .label-input{
    width: 10em;
  }
  
  .input-input {
    width: 60%;
  }
  
  .inputs-cont {
    display: flex;
    margin-bottom: 1em;
  }

.title {
  color: #00679a;
  font-size: xx-large;
}

.gb-btn {
  margin: 1em;
  
}

.ex-btn {
  margin: 1em;
  background-color: #00679a;
  color: white;
}

.show-btn {
  color: #00679a;
  margin-top: 0;
  margin-left: 2em;
}


.long-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

::ng-deep .p-dialog {
  width: 50% !important;
  height: 70% !important;
}
  
.inputs-list {
}

.input-card {
  background-color: white;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  display:flex;
  margin: 0.6em;
  border-radius: 3px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 3px 8px 0 rgba(0, 0, 0, 0.19);
  
}

.input-card:hover {
  background-color: #e6e7ec;
}

.input-name {
  width: 30%;
  border-radius: 5px 0 0 5px;
  padding: 0.5em;
  color: #607d8b;
  font-weight: bold;
  overflow: clip;
}

.input-value {
  width: 70%;
  padding: 0.5em;
}

::ng-deep .p-dialog {
  height: auto !important;
  min-height: 30px;
}
