
<div class="nav-path">
 Dashboard
</div>
<div *ngIf="instance">
  <h2>{{ instance.name | uppercase }} Details</h2>
  <div><span>id: </span>{{ instance.id }}</div>
  <div>
    <label
      >name:
      <input [(ngModel)]="instance.name" placeholder="name" />
    </label>
  </div>
  <div>
    <label
      >description:
      <input [(ngModel)]="instance.description" placeholder="description" />
    </label>
  </div>

  <!-- INSTANCE INPUTS -->
  <div>
    <div *ngFor="let input of inputs" class="inputs-cont">

      <div class="label-input">
        <label>{{input.name}}</label>
      </div>
      <div *ngIf="isObject(input.value)" style="width: 60%;background: #e1e1e1;
      border-radius: 1%;
      padding: 2%;">
        <div *ngFor="let item of input.value | keyvalue">
          <p><b>{{item.key}}:</b> {{item.value}}</p>
        </div>
        
      </div>
      <div class="input-input" *ngIf="isString(input.value)">
        <p>{{input.value}}</p>
      </div>
    </div>
  </div>
</div>

<button (click)="goBack()">go back</button>
<button (click)="execute()">Execute</button>
<!--<button (click)="save()">save</button>-->

<app-instancetextlog [instance]="instance"></app-instancetextlog>
