<p-messages></p-messages>
<div *ngIf="instance">
  <h2 class="title">{{ instance.name | uppercase }} Details</h2>

  <div>
    <p>
      <label>
        ID:
      </label>
      {{ instance.id }}
    </p>
    <p>
      <label>
        Name: 
      </label>
      {{instance.name}}
    </p>
    <p>
      <label>
        Description: 
      </label>
      {{instance.description}}
    </p>

  </div>

  <!-- INSTANCE INPUTS -->

  <div class="inputs-list">
    <div class="input-card" *ngFor="let input of inputs">
      <div class="input-name">
        {{input.name}}
      </div>
      <div class="input-value">
        
         <!-- TYPE TEXT OR NUMBER-->
        <div *ngIf="isString(input.value)">
          {{input.value}}
        </div>
         <!-- TYPE OBJECT-->
        <div *ngIf="isObject(input.value)">
          <div *ngFor="let item of input.value | keyvalue">
            <b>{{item.key}}:</b> <pre>{{item.value | json}}</pre>
          </div>

            
          
        </div>
      </div>
    </div>
  </div>
 <!--
  <div>
    <div *ngFor="let input of inputs" class="inputs-cont">

      <div class="label-input">
        <label>{{input.name}}</label>
      </div>
      <div *ngIf="isObject(input.value)" style="width: 80%;background: #e1e1e1;
      border-radius: 1%;
      padding: 2%;">
        <div *ngFor="let item of input.value | keyvalue">
          <div *ngIf="item.value.length < 150">
            <p><b>{{item.key}}:</b> {{item.value}}</p>
          </div>
          <div *ngIf="item.value.length >= 150">
            <p class="long-text"><b>{{item.key}}:</b> {{item.value | slice:0:150}}</p>
            <button type="button" (click)="displayLongText()" class="show-btn">Show complete value</button>
            <p-dialog [header]="item.key" [(visible)]="displayLT" class="long-text-dialog">
              <p>
                {{item.value}}
              </p>
              
            </p-dialog>
            
          </div>
        </div>
        
      </div>
      <div class="input-input" *ngIf="isString(input.value)">
        <p>{{input.value}}</p>
      </div>
    </div>
  </div>

 -->

</div>

<button (click)="goBack()" class="gb-btn">Go back</button>
<button (click)="execute()" class="ex-btn">Execute</button>
<!--<button (click)="save()">save</button>-->
<br>
<app-instancetextlog [instance]="instance"></app-instancetextlog>
