
<app-header></app-header>

<div class="gs-body">


  <h1 class="title">
    Welcome to the Croupier Portal!
  </h1>
  <div class="text-cont">
    <p>
      The Croupier portal is the end-user interface to deploy and execute applications (as workflows) of Personalized Medicine in target HPC infrastructures. 
    </p>
  </div>
  
<!--
  <h2 class="subtitle">
    What do we understand by Global Challenges?
  </h2>
  <div class="text-cont">
    <p>
      We consider Global Challenges those trends and situations that may affect in a negative way to many 
      countries and societies in our world, and that require attention and a proposition on how to address them.
    </p>
    <p>
      These may be situations that have a local effect, but that happens in many 
      locations of the world (such as Urban Air Pollution) or problems that perhaps are 
      not so frequent but affect to several countries (like migration).
    </p>
  </div>
  
  
  <h2 class="subtitle">
    What does the Portal offer?
  </h2>
  <div class="text-cont">
    <p>
      It is possible to access several resources and functionalities, so policy makers, 
      researchers and any other stakeholder can address the Global Challenges they are interested in. 
      The main features that can be accessed are:
    </p>
    <ul>
      <li>
        Multiple datasets in the area of Global Challenges, through our data catalogue
      </li>
      <li>
        Execution of simulations and data analytics, abstracting the complexity of the infrastructure
      </li>
      <li>
        Complex visualization tools, as a useful way to explore the results obtained from simulations
      </li>
      <li>
        Online development notebooks, so developers can write and test prototypes easily
      </li>
      <li>
        Training materials and tools, in order to increase awareness and knowledge in the Global Challenges and HPC areas
      </li>
      <li>
        Discussion forums and a ticketing system, as a way to support our community and to contact us
      </li>
    </ul>
  </div>

  
  <h2 class="subtitle">
    Where do I start?
  </h2>
  <div class="text-cont">
    <p>
      You can register in the Global Challenges Portal for free. First of all, 
      it is necessary to register the user by clicking in the top right button. 
      It will show the dialog to login but, if you are a new user, you can select the 
      ‘Register’ option. If you try to access any other feature, you will be requested to login with the same form.
    </p>
    <p>
      When selecting the registration option, the Portal will show the registration dialog where you have
       to provide basic information (name, surname, email address), click on the captcha and then ‘Register’.
    </p>
    <p>
      You will receive a verification email in the email account you registered. 
      Click on the link of the email and your registration will be completed! 
    </p>
  </div>
  
  <h2 class="subtitle">
    Data Catalogue
  </h2>
  <div class="text-cont">
    <p>
      You can access the data catalogue (implemented using CKAN) by opening the side menu bar 
      (with the  <mat-icon aria-hidden="false">menu</mat-icon>icon). 
      Then, select the ‘Data Catalogue’ option.
    </p>
    <p>
      In the main page, it is possible to write down a few keywords and launch a search in the catalogue. 
      As a result, you will obtain a list of datasets that fulfil your requirements. Additional 
      filtering is allowed in such result page.
    </p>
    <p>
      Note that not all the datasets are stored in our infrastructure, and some entries may point to external datasets. 
      In any case, you will find the information you need to access the data when you click on a concrete dataset.
    </p>
  </div>
  
  <h2 class="subtitle">
    Applications Listing and Execution
  </h2>
  <div class="text-cont">
    <p>
      The applications are managed by a hybrid HPC+Cloud Orchestrator in the background (called Croupier), 
      which takes care of the interaction with the computational resources (like Amazon and Azure clouds, 
      or HPC schedulers such as Slurm and PBS Pro). Such component cannot be accessed directly and abstracts 
      the infrastructure complexity for the users.
    </p>
    <p>
      You just need to open the side menu and select the ‘Dashboard’ option to access the applications. 
      The Portal will show the applications that you have access to (at the beginning, only publicly accessible applications). 
      Such list highlights those applications that are new or that were updated recently.
    </p>
    <p>
      In order to execute one of them, just click on it and the Portal will show the inputs form,
      where you need to fill in all the inputs of the workflow to be executed. Once all of them are filled in, 
      just click on ‘Run’ and the Portal will interact with the orchestrator in order to create you own instance of the application.
    </p>
    <p>
      Note that you will need to provide your credentials (as part of the inputs) 
      for the usage of certain infrastructures, since they require such information to create VMs or send jobs.
    </p>
  </div>
  
  <h2 class="subtitle">
    Visualization Tools
  </h2>
  <div class="text-cont">
    <p>
      When you have some simulation results or data that you want to visualize, 
      you can access one of our tools for rich visualization: Visualizer. 
      It is accessible through the side menu, under ‘Visualization’.
    </p>
    <p>
      Once selected, it will show a welcome screen, in which you will be able to open your 
      own data or one of the example datasets available. The tool will open the dataset and 
      you will be able to configure the graphs and data fields you want to visualize.
    </p>
    
    <p>
      Access to another rich visualization tool (COVISE, for 3D visualization of simulation data, like CFD)
       is under implementation and will be available soon.
    </p>
  </div>

  <h2 class="subtitle">
    Online Development
  </h2>
  <div class="text-cont">
    <p>
      Those developers who want to do small developments and test their codes in a pre-configured environment 
      can do it by using the online Jupyter Notebooks available. It includes not only the possibility to write 
      Python code but also a set of good examples that can reduce the development time, encouraging code reuse.
    </p>
    <p>
      You only need to access the side menu and select the ‘Online Notebooks’ option, 
      so the portal will load the Jupyter landing page and will give you access to your workspace.
       There, you will be able to create files with your code and to run them, line by line.
    </p>
  </div>
  
  <h2 class="subtitle">
    Training Features
  </h2>
  <div class="text-cont">
    <p>
      The Portal provides access to online training by means of the Moodle platform. 
      Such platform contains the training material and some courses available for our users, 
      so it will be possible to learn about the technologies we use and about some of the applications 
      that are available (such as our pilot applications for Urban air Pollution, Migration, COVID-19 and Social Networks Analysis).
    </p>
    <p>
      In the side menu, under the Community and Support category, you can access this tool by clicking on ‘Training’. 
      The Portal will show the landing page of the Moodle tool, so you will be able to navigate through the available courses.
    </p>
  </div>
 
  <h2 class="subtitle">
    Community Support
  </h2>
  <div class="text-cont">
    <p>
      As a way to support our community, we provide access to two different tools in order to enable the 
      interaction with other stakeholders and with our team. 
    </p>
    <p>
      We provide access to an instance of Askbot (from the side menu, clicking on the ‘Q&A Forum’ choice), 
      a tool for Questions and Answers, where stakeholders can publish questions about the Portal and applications,
       and other users can answer them, according to their own experience. Additionally, 
       our team members may answer some of them, whenever necessary, depending on the topic addressed.
    </p>
    <p>
      If you want to access documentation, it is possible to do so by selecting the option ‘Documentation’ in the menu,
      that will give you access to the wiki solution we have set up.
    </p>
    <p>
      Finally, in case you need technical support or want to request specific support (like consultancy), 
      you can request it by using the ticketing system, based on Zammad. You can access to it through the side menu, 
      under the ‘Ticketing System’ option. The Portal will show you the form to create a new ticket, 
      that will be assigned to our team, depending on the topic to address.
    </p>
  </div>

-->

</div>

