.progess-spinner {
  width: 100%;
  text-align: center;
}

.custom-spinner .ui-progressbar .ui-progressbar-label{
  color: blueviolet;
}

.spinner {
  margin-top: 13em;
  text-align: center;
  width: 30%;
}

.custom-spinner {
  width: 1em;
}

.custom-spinner::ng-deep circle{
  stroke: #00679a !important;
}

.spinner-div {
  width: 100%;
  text-align: center;
  color: #00679a;
}

.logs-comp {
  border: #e1e1e1 solid 1px;
}

.logs-title {
  background-color: #e1e1e1;
  padding: 0.4em;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {

  padding: 0.3rem 1rem !important;
}

.t-tag {
  text-align: center;
  padding: 0.2em;
  border-radius: 3px;
}

.log-tag {
  color: white;
  background-color: #500472;
}

.event-tag {
  color: black;
  background-color: #79cbb8;
}

.filter-list {
  display: block ruby;
}

.filter {
  display: inline-flex;
  padding: 0.5em;
  width: 30%;
}

.filter-label {
  padding: 0.5em;
  width: 30%;
}

.filter-inp {
  padding: 0.5em;
  width: 50%;
}

::ng-deep .mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
  background-color: white;
  border: 1px #00679a solid;
  color: #00679a;
}

::ng-deep .p-dropdown {
  width: 10em;
}

