.progess-spinner {
  width: 100%;
  text-align: center;
}

.custom-spinner .ui-progressbar .ui-progressbar-label{
  color: blueviolet;
}

.spinner {
  margin-top: 13em;
  text-align: center;
  width: 30%;
}

.custom-spinner {
  width: 1em;
}

.custom-spinner::ng-deep circle{
  stroke: #00679a !important;
}

.spinner-div {
  width: 100%;
  text-align: center;
  color: #00679a;
}

.logs-comp {
  border: #e1e1e1 solid 1px;
}

.logs-title {
  background-color: #e1e1e1;
  padding: 0.4em;
}
