.button-style {
    border-radius: 35px;
    background-color: #461ada;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 5px 20px 5px;
    min-width: 160px;
    height: 70px;
    font-size: 15px;
    line-height: 1.4;
    color: #fff;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}

.centered {
    position: absolute;
    left: 50%;
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.centered-button {
    position: absolute;
    left: 50%;
    top: 50%;
    -moz-transform: translateX(-50%) translateY(50%);
    -webkit-transform: translateX(-50%) translateY(50%);
    transform: translateX(-50%) translateY(50%);
}