<app-header (toggleSideBarForMe)="sideBarToggler()" ></app-header>
<mat-drawer-container id="xxx">
    <mat-drawer mode="side" [opened]="sideBarOpen">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
      <!--<app-breadcrumb-nav></app-breadcrumb-nav>-->
        <router-outlet></router-outlet>
    </mat-drawer-content>

    <br>
    <mat-divider></mat-divider>
    <br>

    <mat-drawer-content>
        <app-util-messages></app-util-messages>
    </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
